<mat-card>

<!--
  <mat-tab-group>
    <mat-tab label="Aba 1">Conteúdo da Aba 1</mat-tab>
    <mat-tab label="Aba 2">Conteúdo da Aba 2</mat-tab>
  </mat-tab-group>
-->

  <mat-toolbar color="primary">Cliente Disponíveis</mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel hideToggle> </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <mat-icon>dialpad</mat-icon>
          Filtro por pesquisa
        </mat-panel-title>
        <mat-panel-description></mat-panel-description >
      </mat-expansion-panel-header>

        <div class="fildes-flex mat-elevation-z8">

                <mat-form-field appearance="outline">
                  <mat-label>Pesquisa por nome</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nome do cliente" #input>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Select</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
    </mat-expansion-panel>
    </mat-accordion>
  <div class="column-flex mat-elevation-z8">

  <app-clientes-list
  *ngIf="clientes$ | async as clientes; else loading"
  [clientes]="clientes"
  (add)="onAdd()"
  (eidt)="onEdit($event)"
  (remove)="onRemove($event)"
  ></app-clientes-list>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>

</mat-card>
