.mat-table{
  overflow: auto;
  max-height: 600px; // aparece o scrow
  }

  .action-column{ // metodo para posição das colunas
    flex: 0 0 75px;
  }
  .action-column-header{ // metodo para posição das colunas
    flex: 0 0 55px;
  }

  .custom-icon {
     color: #050505;          /* Cor personalizada (exemplo: preto) */
    //font-size: 42px;
    //width: 39px;
    //height: 65px;
  }
